/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: white !important;
}

/* Main Header */
.header {
  background-color: white;
  /* Avoid using !important unless necessary */
  height: fit-content;
  z-index: 100;
  position: relative;
  box-shadow: 0px 18px 13px -4px rgba(0, 0, 0, 0.1);
}

.headSection {
  display: flex;
  // justify-content: start;
  align-items: center;
  // padding: 0% 2em;
  padding: 0 2rem;

  .anticon {
    border: none;
    font-size: 50px;
    outline: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .iconDot {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: black !important;
    margin-left: 0.8em;
  }
  .navLogo {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .navText {
    display: flex;

    flex-direction: column;
    line-height: 1;
    align-items: flex-end;
    .navTextBold {
      font-weight: 800;
      font-size: 1.2em;
    }
    .navtextserviceJob {
      transform: translate(2em);
      color: rgb(75, 73, 73);
    }
  }
}
.mainHead {
  display: flex;
  justify-content: space-between;
}

.usersection {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  .navLang {
    background-color: #f86f6024;
    padding: 0.6em 1em;
    border-radius: 20px;
    color: #f87060;
    span {
      padding: 0 4px;
    }
  }
  .navbar-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;

    .navbar-img {
      height: 3em;
      width: 3em;
      border-radius: 50%;
      border: 3px solid orangered;
    }
  }
}

.pop-img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 3px solid orangered;
}
.popoverContent-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.8em;
  border-radius: 10px;

  gap: 1em;
}
.devider {
  height: 2px;
  width: 100%;
  background-color: rgba(191, 191, 192, 0.804);
  margin: 1em 0;
}

.Doc > span {
  padding: 0.6em 1em;
  background-color: #f87060; /* Added semicolon */
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}

.sideBar {
  height: 100vh;
  width: 5000px;
  position: sticky;
  background-color: aquamarine;
  left: 0;
  top: 0;
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-menu-item {
  /* Base styles for the menu item */
  color: rgb(72, 69, 69) !important;

  /* Styles for focus and active states */
  &:focus,
  &:active {
    background-color: #f86f6029 !important;
    border-radius: 34px;
    color: #f87060 !important;
  }

  /* Pseudo-element for the dot on the left side when active */
  &:focus::before,
  &:active::before {
    content: "";
    display: block;
    width: 0.5em; /* Adjust the width of the dot */
    height: 2em; /* Adjust the height of the dot */
    background-color: #f87060; /* Set the dot color */
    border-radius: 34px; /* Make the dot circular */
    position: absolute;
    left: 0.5em; /* Adjust the dot position from the left */
    top: 50%; /* Center the dot vertically */
    transform: translateY(-50%); /* Adjust the vertical alignment */
  }
}

.content-Section {
  background-image: url("./assets/Vector.png");
  background-color: rgba(255, 253, 253, 1);

  padding: 1em;
  background-size: cover; /* Ensure the image covers the entire element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  width: 100%;
  height: 115dvh;
  gap: 1em;
}

.customer-sec {
  padding: 0.8em;

  h1 {
    color: rgba(77, 71, 71, 0.874);
    font-weight: 600;
    font-size: 2rem;
  }

  .customerDataSection {
    box-shadow: 0px 18px 13px -4px rgba(0, 0, 0, 0.1);
    width: 80vw;
    position: absolute;
    .InputText {
      color: #f87060;
      border: 1px solid #f87060;
      outline: none;
      border-radius: 8px;
      background-color: transparent;
      padding: 0.8em 1em;
      &::placeholder {
        color: #f87060;
      }
    }
  }
  .inputBox {
    position: relative;
    float: right;
  }
}

.TableOfdata {
  width: 85vw;
}
.ant-pagination {
  justify-content: center !important;
  color: #f87060 !important;
}

.status-completed {
  color: green;
}

.status-progress {
 color: orange ;
}

.status-uncompleted {
  color: rgb(249, 5, 5);
}

