/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Header */
.header {
  background-color: white;
  /* Avoid using !important unless necessary */
  height: fit-content;
  z-index: 100;
  position: relative;
  box-shadow: 0px 18px 13px -4px rgba(0, 0, 0, 0.1);
}

.headSection {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 3em;

  .anticon {
    border: none;
    font-size: 50px;
    outline: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .iconDot {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: black !important;
    margin-left: 0.8em;
  }
  .navLogo {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .navText {
    display: flex;

    flex-direction: column;
    line-height: 1;
    align-items: flex-end;
    .navTextBold {
      font-weight: 800;
      font-size: 1.2em;
    }
    .navtextserviceJob {
      transform: translate(2em);
      color: rgb(75, 73, 73);
    }
  }
}
.mainHead {
  display: flex;
  justify-content: space-between;
}

.usersection {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  .navLang{
    background-color: #f86f6024;
    padding: 0.6em 1em;
    border-radius: 20px;
    color: #f87060;
   span{
    padding: 0 4px;
   }

  }
.navbar-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
 

  .navbar-img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 3px solid orangered;

  }
}
  
}

.Doc > span {
  padding: 0.6em 1em;
  background-color: #f87060; /* Added semicolon */
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}

/* Sidebar (Sider) */
// .sideBar {
//   height: 100vh;
//   position: sticky;
//   background-color: aquamarine;
//   left: 0;
//   bottom: 0;
//   top: 0;
// }
